* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.min-vh-70 {
    min-height: 70vh;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    filter: brightness(80%);
}

a {
    text-decoration: none;
}
